- unless @order.order_details.nil? || @order.order_details.empty?
  - @order.order_details.each do |order_detail|
    - product = order_detail.product
    %tr{:id => product.sku}
      %td.article
        .grid_4
          = image_tag '/images/commerce_front/product.jpg'
        %p.grid_3.product_info
          = link_to product.name, [:seo, product]
          %span Catégorie
          %span 
            Réf.
            = product.sku
      %td.quantity.center
        = text_field_tag 'quantity', order_detail.quantity, :class => 'quantity'
      %td.price.center
        = price_with_currency(product.old_price)
      %td.reduction.center
        = price_with_currency(order_detail.discount(:voucher_discount => false)*order_detail.quantity)
      %td.total_price.center
        = price_with_currency(order_detail.total)
