- unless @order.order_details.nil? || @order.order_details.empty?
  - @order.order_details.group_by(&:product_id).each do |order_detail_group|
    - order_detail = order_detail_group[1].first
    - product = order_detail.product
    %tr{:id => product.sku}
      %td.article
        .grid_4
          = image_tag '/images/commerce_front/product.jpg'
        %p.grid_3.product_info
          = link_to product.name, [:seo, product]
          %span Catégorie
          %span 
            Réf.
            = product.sku
      %td.quantity.center
        = link_to_function '-', remote_function(:url => {:controller => 'cart', :action => 'update_quantity', :id => order_detail.id, :quantity => order_detail.quantity-1}), :class=> 'less_product'
        = text_field_tag 'quantity', order_detail.quantity, :onchange => remote_function( :url =>  {:controller => 'cart', :action => 'update_quantity', :id => order_detail.id }, :with => "'quantity='+$(this).val()"), :class => 'quantity'
        = link_to_function '+', remote_function({:url => {:controller => 'cart', :action => 'update_quantity', :id => order_detail.id, :quantity => order_detail.quantity+1}}), :class=> 'more_product'
      %td.price.center
        = price_with_currency(product.old_price)
      %td.reduction.center
        = price_with_currency(product.discount)
      %td.total_price.center
        = price_with_currency(order_detail.total)
