.total_block
  .block
    .grid_4.alignright
      Sous total panier
    .grid_6.alpha.omega
      %span.space
        &nbsp;
      = price_with_currency(@order.total({:cart_voucher_discount => false, :cart_special_offer_discount => false, :product_voucher_discount => false, :patronage => false}))
    .clear
    .clear
  .block
    .grid_4.alignright
      Réduction panier
    .grid_6.alpha.omega
      %span.space
        &nbsp;
      = price_with_currency(@order.discount)
    .clear
  %br
    - if current_cart.packaging_price != 0
    .block
      .grid_3.alignleft
        Frais d'emballage
      .grid_3.alpha.omega.alignright
        %span.space
          &nbsp;
        = price_with_currency(current_cart.packaging_price)
      .clear
  #total_block.block
    .grid_4.alignright
      Prix total TTC
    .grid_6.alpha.omega
      %span.big_price
        #{price_with_currency(@order.total)} TTC
    .clear

.order_block
  .grid_4.alignright
    - link_to root_path do 
      Continuer vos achats
  .grid_6.alpha.omega
    - #TODO Use trnaslations and config
    - form_tag url_for(:controller => 'order', :action => 'create'), :method => :post do
      %h4 Choisissez votre mode de paiement
      = payment_methods_list 
      .conditionpay
        = check_box_tag("validchk")
        %label J'accepte les conditions générales de vente
      = submit_tag 'Commander'
  .clear
