.grid_16
  - case @order.payment_type
  - when t("cmc_cic", :scope => 'payment', :count => 1)
    %form{ :action => @payment.delete(:url_payment), :method => "post",  :id => "payment_form"}
      - @payment.each do |key,value|
        = hidden_field_tag key, value unless key == :key
    .payment_message
      %p Vous aller être redirigé vers l'interface de paiement de la banque dans quelques instants
      %img{:src => '/images/front/ajax-loader-2.gif'}

  - when t("cyberplus", :scope => 'payment', :count => 1)
    - form_tag('https://systempay.cyberpluspaiement.com/vads-payment/', :autocomplete => 'off', :id => 'payment_form') do
      - @payment.each do |key,value|
        = hidden_field_tag key, value unless key == :key

    .payment_message
      %p Vous aller être redirigé vers l'interface de paiement de la banque dans quelques instants
      %img{:src => '/images/front/ajax-loader-2.gif'}
      
  - when t("paypal", :scope => 'payment', :count => 1)
    %form{ :action => @url_paypal, :id => 'payment_form'}
      = hidden_field_tag :cmd, "_s-xclick"
      = hidden_field_tag :encrypted, @order.paypal_encrypted

    .payment_message
      %p Vous aller être redirigé vers Paypal dans quelques instants
      %img{:src => '/images/front/ajax-loader-2.gif'}

  .clear
.clear

= javascript_tag "jQuery('#payment_form').submit();"

