- content_for(:title, t('action', :scope => [:user, :create]))
- form_for @user, :html => { :autocomplete => 'on'}, :url => user_path do |f|
  .person-session-form
    .grid_2
      = f.label(:civility, "#{t(:civility, :count => 1)} <span class='required'>*<span>")
    .grid_4
      = f.radio_button :civility, 0
      %span M
      = f.radio_button :civility, 1
      %span Mme
      = f.radio_button :civility, 2
      %span Mlle
      = f.radio_button :civility, 3
      %span Société
    - [:lastname, :firstname, :email].each do |key|
      .grid_2
        = f.label key, "#{t(key)} <span class='required'>*<span>"
      .grid_4
        = f.text_field key
      .clear
    - unless Forgeos::CONFIG[:account]['password_generated']
      = password_fields(f)
    .grid_4.prefix_2
      = f.submit t('action', :scope => [:user, :create])
    .clear
%p.mandatory-field
  * #{t(:mandatory_field, :count => 2)}
