.account-area
  .grid_7.login
    %h2= t('new', :scope => [:person_session, :action])
    = render :partial => '/person_sessions/form'
  .prefix_2.grid_7
    %h2= t('create', :scope => [:user, :action])
    - if Forgeos::CONFIG[:account]['checkout_quick_create'] and params[:quick]
      = render :partial => '/users/form_quick_create', :locals => {:btn => 'create'}
    - else
      = render :partial => '/users/form_create', :locals => {:btn => 'create'}
