.account-area
  .prefix_4.grid_8
    %h2= t('new_password', :scope => [:user, :action]).capitalize
    - form_for(@user, :url => user_path, :html => { :autocomplete => false }) do |f|
      - login_field = Forgeos::CONFIG[:login]['login_field']
      .grid_2
        = t(:login_field)
      .grid_6
        = f.object.send(login_field)
      .clear
      = password_fields(f, :field_class => 'grid_6 prefix_2')
      .grid_6.prefix_2
        = f.submit t('action', :scope => [:user, :update])
  .clear
