.myaccount
  %h2
    = t(:show, :scope => [:user, :action])
  %h3
    Suivi de mes commandes
  .suiviorder.grid_16
    .titresuivi.grid_4
    .clear
    - unless @orders.empty?
      .tableausuivi
        - @orders.each do |order|
          .commandesuivi
            .numcommande.commande
              = "Commande n°#{order.id}"
            .datecommande.commande
              = order.created_at.strftime('%d/%m/%Y')
            .detailscommande.commande
              = t(:articles, :count => order.order_details.count)
              pour un montant de
              = price_with_currency(order.total)
              TTC
            .livraisoncommande.commande
              = t(order.status, :scope => :order_status)
            .detailcommande.commande
              = link_to('Détail', order_path(order, :format => :pdf))
          .clear
      .clear
  .clear

  - form_for(@user, :url => user_path, :html => { :multipart => true }) do |f|
    .profile
      %h3
        Mon profil
      %p
        #{t(:uid, :scope => :user)} : #{current_user.send(Forgeos::CONFIG[:login]['login_field'])}
      .grid_4
        = password_fields(f)
      - if Forgeos::CONFIG[:newsletter]['active']
        .checknews.grid_5
          = f.check_box(:newsletter)
          = f.label(:newsletter, t(:i_want, :scope => :newsletter))
          .clear
        .grid_4

        .avatar
          - current_user.build_avatar unless current_user.avatar
          - f.fields_for :avatar do |avatar|
            = display_avatar(current_user.avatar)
            = avatar.file_field :uploaded_data
        .clear
      .clear

    .coord
      %h3
        Mes coordonnées
      .account_form
        .grid_4
          = f.label :civility, "#{t(:civility, :count => 1)} <em>*</em>"
          = f.select :civility, options_for_select([['Mr',0],['Mme',1],['Mlle',2],['Société',3]])
        .grid_4
          = f.label :company, t(:company)
          = f.text_field :company
        .clear

        .grid_4
          = f.label :lastname, "#{t(:lastname)} <em>*</em>"
          = f.text_field :lastname

        .grid_4
          = f.label :firstname, "#{t(:firstname)} <em>*</em>"
          = f.text_field :firstname
        .clear

        .grid_4
          = f.label :email, "#{t(:email)} <em>*</em>"
          = f.text_field :email
        .grid_4
          = f.label :birthday, t(:birthday)
          = f.date_select :birthday, :start_year => 1900
        .clear
        //.grid_4
        //  = f.label :phone, "#{t(:phone)} <em>*</em>"
        //  = f.text_field :phone
        //.grid_4
        //  = f.label :other_phone, "#{:other_phone}"
        //  = f.text_field :other_phone
        //.clear
      .clear

    .address
      - multiple_addresses = Forgeos::CONFIG[:addresses]['multiple_addresses']
      - if multiple_addresses
        - @user.build_address_delivery unless @user.address_delivery
        = render :partial => '/addresses/multiple_address_form', :locals => {:address => @user.address_invoice}
      - else
        %h3= t(:my_address, :count => 1)
        - f.object.build_address_invoice unless f.object.address_invoice
        - f.fields_for :address_invoice do |address|
          = render :partial => '/addresses/address_form', :locals => {:f => address}
    .requiredinfo
      * #{t(:mandatory_field, :count => 2)}
    .clear
      .clear
      = f.submit t('action', :scope => [:user, :update])
.clear
