.grid_8
  = f.label :address, "#{t(:address, :count => 1)} <em>*</em>"
  = f.text_field :address
  = f.text_field :address_2
.clear
.grid_2
  = f.label :zip_code, "#{:zip_code} <em>*</em>"
  = f.text_field :zip_code, :class => 'textpg'
.grid_3
  = f.label :city, "#{t(:city)} <em>*</em>"
  = f.text_field :city
.grid_3
  = f.label :country_id, "#{t(:country)} <em>*</em>"
  = f.select :country_id, options_for_countries(f.object.country_id)
.clear
